name: Build and Test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build-test:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: |
          dotnet restore ./api/api.csproj
          dotnet restore ./worker/worker.csproj
          dotnet restore ./tests/tests.csproj

      - name: Build
        run: |
          dotnet build ./api/api.csproj --configuration Release --no-restore
          dotnet build ./worker/worker.csproj --configuration Release --no-restore
          dotnet build ./tests/tests.csproj --configuration Release --no-restore

      - name: Test
        run: dotnet test ./tests/tests.csproj --configuration Release --no-build --collect:"XPlat Code Coverage"
